* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.colorBacgorundNav {
    background-color: #f89019;
}

#logo-lien {
    height: 35px;
    width: 50px;
}

.header-bg {
    background: url('../pictures/bg.jpeg') center/cover;
    min-height: 100vh;
}